#app,body,html{
  height: 100%;
  overflow: hidden;
}

.h100{
  height: 100%;
}

.tc{
  text-align: center;
}

.m0a{
  margin:0 auto !important;
}

.pt20{
  padding-top: 20px;
}

/*进入和退出*/
@keyframes inTo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes outTo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
